.cards__holder {
    display: flex;
    justify-content: center;
}
.card__magic {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 33%;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -100px;
    padding: 20px 150px;
}
.card__magic__image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card__magic__title span {
    color: #FF7400;
}

.card__magic__title {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Tinos", serif;
    font-size: 26px;
    font-weight: 400;
}

.card__magic__discription {
    text-align: center;
    font-family: "Tinos", serif;
    font-size: 26px;
    font-weight: 400;
    color: #656363;
}
