.history__title {
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
}
.history__title span {
    color: #FF7400;
}

.history__deskription {
    color: #656363;
    font-size: 16px;
}
